.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.img {
  width: 300px;
  padding: 0.5em;
  border-radius: 5px;
  height: 425px;
}

@media (min-width: 768px) {
  .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .img {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 30px 0;
  }
}
